{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row">
    
    <div class="col-4">
        
    </div>
    <div class="col-4">
        <br><br><br><br>
        <p><h3><span style="text-decoration: underline;">Login</span></h3></p>
        <form id="Login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="username" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
            <div class="form-group">
                <br>
                <a class="btn btn-warning btn-block" href="{% url 'sign_up' %}" style="color: black;">I'm new!</a>
            </div>
    </div>
    <div class="col-4">
        
    </div>
</div>

{% endblock %}