{% extends 'client_base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block left_col %}

<script src="{% static "js/main.js" %}"></script>

<div class="row left_col" data-user="{{request.user.username}}" id="left_col">

<div class="col-12">

  <!-- Map -->
  <div class="row">
    <div class="col-12 category_title_box">
      <p class="category_title">Map (alpha)</p>
      <hr>
      <div class="map">
        <div class="inner_map" id="map_render"></div>
      </div>
    </div>
  </div>

  <!-- Character -->
  <div class="row">
    <div class="col-12 category_title_box">
      <p class="category_title">Character</p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 category_content_box">
      <div class="char_name" id="char_name">Name: </div>
      <div class="char_name" id="char_gender">Gender: </div>
      <div class="char_name" id="char_xp">Exp: </div>
    </div>
  </div>

  <br>
  
  <div class="row">  
    <div class="col-12 category_title_box">
      <p class="category_title">Inventory</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 category_content_box">
      <div class="inventory scrollbar" id="inventory"></div>
    </div>
  </div>

  </div>
</div>

{% endblock left_col %}

{% block content %}

<div class="flex_chat">

  <div class="row chat_log scrollbar" id="chatlog">

  <!--   <div class="splash_div" id="hope_banner">
      <div class="star_div">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <img src="{% static "images/splash.jpg" %}" alt="Hope">
      </div>
      <div id="close_banner">
        <p style="color: #5e5ec1;">close banner</p>
        <script>
          $( "#close_banner" ).click(function() {
            $( "#hope_banner" ).hide( "slow", function() {
            });
          });
        </script>
      </div>
    </div>
   -->
    <div id="log"></div>
  </div>

<!-- 
  <br>
  <hr>

  <div class="row">
    <div class="col-6 text-center center-left-hand">
      <div id="left_hand">Left Hand:</div>
    </div>
    <div class="col-6 text-center center-right-hand">
      <div id="right_hand">Right Hand:</div>
    </div>
  </div> -->
  <p><hr></p>
  <div class="row">
    <div class="col-6 text-center center-left-hand">
      <div id="left_hand">Left Hand:</div>
    </div>
    <div class="col-6 text-center center-right-hand">
      <div id="right_hand">Right Hand:</div>
    </div>
  </div>
  <div class="row chat_input">
    <div class="col-11">
      <form onsubmit="onSubmit(); return false;" class="form-group">
      <input style="margin-top: 10px;" class="form-control" type="text" id="input">
    </div>
    <div class="col-1">
      <input style="margin-top: 10px;" class="form-control" type="submit" value="Send">
    </form>
    </div>
      <!-- <button onclick="onCloseClick(); return false;">close</button> -->
  </div>

</div>



{% endblock content %}

{% block right_col %}

<div class="row">
  <div class="col-12">

      <div class="row text">
        <div class="col-12 category_content_box">
          <br>
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'rc_comms')" id="defaultOpen">Comms</button>
            <button class="tablinks" onclick="openCity(event, 'rc_players')">Users</button>
            <button class="tablinks" onclick="openCity(event, 'rc_central')" >Help</button>
          </div>
        </div>
      </div>

      <div class="row rc_col">
        <div class="col-12 category_content_box">
          
          <div id="rc_comms" class="tabcontent">
            <div id="rc_comms_sub">Comms are not currently connected.</div>
          </div>

          <div id="rc_central" class="tabcontent">
              <ul id="myUL">
                <div id="rc_central_data">Help files are not currently connected.</div>
              </ul>
          </div>

          <div id="rc_players" class="tabcontent">
            <div id="rc_players_sub">Player list is not currently connected.</div>
          </div>
        
        </div>
      </div>

      </div>
  </div>
</div>
<!-- scripts -->

<script>
  document.getElementById("defaultOpen").click();
</script>

{% endblock right_col %}