{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Welcome to Hope{% endblock %}

{% block content %}

  <script src="{% static "js/main.js" %}"></script>

  <div class="row client_window">

    <div class="col-2">

      <div class="row" data-user="{{request.user.username}}" id="left_col">
      </div>

      <div class="row">
        <div class="col-4 text-center" id="attr_str">
        </div>
        <div class="col-4 text-center" id="attr_dex">
        </div>
        <div class="col-4 text-center" id="attr_con">
        </div>
      </div>

    </div>

    <div class="col-8">

      <div class="row splash_div" id="hope_banner">
        <div class="star_div">
          <div id='stars'></div>
          <div id='stars2'></div>
          <div id='stars3'></div>
          <img src="{% static "images/splash.jpg" %}" alt="Hope">
        </div>
        <div id="close_banner">
          <p style="color: #5e5ec1; text-align: center;">close banner</p>
          <script>
            $( "#close_banner" ).click(function() {
              $( "#hope_banner" ).hide( "slow", function() {
              });
            });
          </script>
        </div>
      </div>
      <div class="row hp_row">
        <div class="health-div">
        <progress id="health" class="health-bar" value="100" max="100"></progress>
        </div>
      </div>
      <div class="row chat_div scrollbar" id="chatlog">
        <div class="row">
          <div class="col-12">
            <div id="log"></div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>

      <div class="row">
        <div class="col-11">
          <form onsubmit="onSubmit(); return false;" class="form-group">
          <input style="margin-top: 10px;" class="form-control" type="text" id="input">
        </div>
        <div class="col-1">
          <input style="margin-top: 10px;" class="form-control" type="submit" value="Send">
        </form>
        </div>
          <!-- <button onclick="onCloseClick(); return false;">close</button> -->
      </div>

    </div>

    <div class="col-2">
    </div>

  </div>

{% endblock %}