{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

		{% if user.is_authenticated %}

			<div class="row">
				<div class="splash_bg2">
				</div>
				<div class="col-12 text-center">
					<br><br>
				    <a href="{% url 'play' %}"><button type="button" class="btn btn-warning custom-width btn-yellow">Play Now!</button></a>
				    <a href="https://discord.gg/AV9Wwjj" target="_blank"><button type="button" class="btn btn-light custom-width">Join the Discord!</button></a>
				</div>
			</div>

          {% else %}
          
			<div class="row">
				<div class="splash_bg">
					<div class="col-12 text-center">
						<img src="{% static "images/splash_title.png" %}" alt="Hope" style="padding: 70px 0px 70px 0px">
				      
				  	</div>
				</div>
			</div>
			<br>
			<div class="row text-center">
				<div class="col-12">
					
					<h4>A massively multipler online text-game about space, survival, and exploration.</h4>
				</div>
			</div>

          {% endif %}
    <br><br>

  	<div class="row">
  		<div class="col-lg-4">
  		</div>
  		<div class="col-lg-4">
	  		{% for post in news %}
	      	<div class="row">
	      		<div class="col-12">
	      			<h3 class="news_title">{{ post.post_title }}</h3>
	      			<hr>
			      	<p>by {{ post.post_author }} on {{ post.post_date }}</p>
			      	<p>{{ post.post_content }}</p>
			      	<br><br>
		      	</div>
		  	</div>
	      	{% endfor %}
	    </div>
	    <div class="col-lg-4">
	    </div>
  	</div>

<script> localStorage.set('myGame.username', user.username); </script>

{% endblock %}